<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<!-- 시큐리티는 x-www-form-url-encoded 타입만 인식 -->
<a href="/oauth2/authorization/google">구글로 로그인</a>
<a href="/oauth2/authorization/naver">네이버로 로그인</a>
<a href="/oauth2/authorization/kakao">카카오로 로그인</a>
<hr/>
</body>
</html>
